@charset "UTF-8";

#banner h1
{

   
}

#wrapper
{
    width: 1400px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color:slateblue;
}

#body
{
    background:yellow;
    padding: 0px;
    margin: 0px;
}

#footer
{

    height:100px;
    background-color:purple;
}