@charset "UTF-8";

#banner
{
    width:100%;
    height: 100px;
    Background-color:rgb(4, 252, 194);
    text-align: center;

}




#footer
{
    width: 60%;

    height:100px;
    background-color:rgb(4, 252, 194);
}